# Dataset
Data/*
Mask/*

# Environment
venv
.ipynb_checkpoints
pycache
*.cpython*


# Environment Variables
.env*
setup

# Samples
samples_many_*

# Models
*.safetensors
*config.json

# Runtime
ddim-*
runs
*gradio*
labeling_progress
example_images
*output*
*model*
pcb_latent_inpainting*